* {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

.mainMasthead {
  width: 100%;
  height: 500px;
  background-image: url('../../assets/backgrounds/masthead.svg');
  background-size: cover;
  position: relative;
  z-index: -1;
}

.mastheadText {
  max-width: 600px;
  padding-top: 120px;
  padding-left: 8%;
  padding-right: 8%;
}

.mastheadText h2 {
  color: aliceblue;
  font-size: 60px;
}

.mastheadText p {
  font-size: 16px;
  max-width: 400px;
  color: #a1a1a1;
  margin: 40px 0;
  font-weight: 300;
  line-height: 22px;
}

.mainMasthead img {
  height: 430px;
  max-width: 762px;
  position: absolute;
  right: 100px;
  bottom: 0px;
}

/*! Probably not useful */
/* @media (max-width: 1245px) {
  .mainMasthead img {
    right: 50px;
    bottom: 15px;
  }
} */

@media (max-width: 960px) {
  .mastheadText {
    padding-left: 4%;
    padding-right: 4%;
  }

  .mastheadText p {
    max-width: 214px;
  }

  .mainMasthead img {
    height: 341px;
    max-width: 480px;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 660px) {
  .mainMasthead{ 
    display: inline-block; 
  }
}

@media (max-width: 960px) {
  .mastheadText p {
    max-width: 350px;
  }
}
